{% extends '../base.html' %}

{% block external_sources %}
<link href="/assets/css/board.css" rel="stylesheet" type="text/css">
{% endblock %}

{% block content %}
			<div id="board" class="board-form">
				<table class="tbl-ex">
					<tr>
						<th colspan="2">글보기</th>
					</tr>
					<tr>
						<td class="label">제목</td>
						<td>{{ board.title }}</td>
					</tr>
					<tr>
						<td class="label">내용</td>
						<td>
							<div class="view-content">
								{{ board.content | linebreaksbr }}
							</div>
						</td>
					</tr>
				</table>
				<div class="bottom">
					<a href="/board/list?page={{page}}&kwd={{kwd}}">글목록</a>
					{% if board.user.id == request.session.authuser.id %}
						<a href="/board/modify/{{ board.id }}?&page={{page}}&kwd={{kwd}}">글수정</a>
					{% endif %}
					<a href="/board/write?groupno={{ board.groupno }}&orderno={{ board.orderno }}&depth={{ board.depth }}&page={{page}}&kwd={{kwd}}">답글달기</a>
				</div>
			</div>
{% endblock %}